body {
	font: 16px Helvetica, Sans-Serif;
	background: url(http://i.imgur.com/QcaW4Uh.png);
	       margin: 100px;
}

.name {
  background-color: #e6e6e6;
}
.date {
	float: right;
	margin-right: 250px;
	font-size: 24px;
}
.job	{
	margin-right: 250px;
}
.summary {
  font-style: bold;
	font-size: 20px;
	margin-right: 250px;
}


#pic {
	float: right;
	height: 206px; 
	width: 206px;
}
h1 {
	margin-right: 250px;
	border-bottom: 2px solid #999;
	
}
h2{
	margin-top: 0px;
	margin-bottom: 0px;
}
