body {
	font: 16px Helvetica, Sans-Serif;
	background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/swirl_pattern.png);
	       margin: 50px;
}

.name {
  background-color: #e6e6e6;
}
.date {
	float: right;
	margin-right: 300px;
	text-align: left;
 
 
}
.summary {
  font-style: bold;
	font-size: 20px;
}

#pic {
	float: right;
	height: 205px; 
	width: 205px;
}
h1 {
	border-bottom: 2px solid #999;

}
